body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu-starwars {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown-menu-starwars form {
  display: flex;
  flex-direction: column;
}

.dropdown-menu-starwars label {
  margin-bottom: 10px;
  font-weight: bold;
}

.dropdown-menu-starwars select,
.dropdown-menu-starwars input,
.dropdown-menu-starwars button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown-menu-starwars button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-menu-starwars button:hover {
  background-color: #0056b3;
}




.resource-display {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.resource-display img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.resource-display p {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.resource-display h2 {
  text-align: center;
  margin-bottom: 15px;
}

.resource-display ul {
  list-style-type: none;
  padding: 0;
}

.resource-display li {
  margin-bottom: 10px;
}

.resource-display li strong {
  font-weight: bold;
}
